.container {
  text-align: left;

  .contentTitle {
    margin-bottom: .1rem;
  }

  .incorrectAnswer {
    label {
      color: red!important;
    }
  }

  .correctAnswer {
    label {
      color: green!important;
    }
  }

  & :global img {
    display: block;
    width: 50%!important;
    margin: 1rem auto!important;
  }
}
