.container {
  text-align: left;

  .contentTitle {
    margin-bottom: .1rem;
  }

  .incorrectAnswer {
    label {
      color: red!important;
    }
  }

  .correctAnswer {
    label {
      color: green!important;
    }
  }
}
