.container {

  .innerContainer {
    margin: auto;
    text-align: center;
  }

  .fileInput {
    display: none;
  }

  .buttons {
    margin-top: 2rem;
  }

  .backButton {
    margin-right: 1rem!important;
  }

  .checkBox {
    margin-bottom: .3rem;
  }

  .amountForm {
    margin-top: 2rem;
  }

  .amountInput {
    max-width: 100px;
    width: 100%;
  }
}
